.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.kotak {
    width: 480px;
    height: 480px;
    border-style: solid;
    border-width: 2px;
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px;
}
.white {
    background-color: white;
}
.white:hover{
    background-color: red;
}
.black {
    background-color: black;
}
.black:hover{
    background-color: blue;
}