.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.kotakGrid {
    width: 480px;
    height: 480px;
    border-style: solid;
    border-width: 2px;
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    /* grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px; */
}
.white {
    width: 60px;
    height: 60px;
    background-color: white;
}
.white:hover{
    background-color: red;
}
.black {
    width: 60px;
    height: 60px;
    background-color: black;
}
.black:hover{
    background-color: blue;
}
.kotakFlex {
    width: 480px;
    height: 480px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.pseudoClass-flex {
    width: 480px;
    height: 480px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.pseudoClass-flex div:nth-child(n+1):nth-child(odd):nth-child(-n+8),
.pseudoClass-flex div:nth-child(n+9):nth-child(even):nth-child(-n+16),
.pseudoClass-flex div:nth-child(n+17):nth-child(odd):nth-child(-n+24),
.pseudoClass-flex div:nth-child(n+25):nth-child(even):nth-child(-n+32),
.pseudoClass-flex div:nth-child(n+33):nth-child(odd):nth-child(-n+40),
.pseudoClass-flex div:nth-child(n+41):nth-child(even):nth-child(-n+48),
.pseudoClass-flex div:nth-child(n+49):nth-child(odd):nth-child(-n+56),
.pseudoClass-flex div:nth-child(n+57):nth-child(even):nth-child(-n+64) {
    width: 60px;
    height: 60px;
    background-color: black;
}
.pseudoClass-flex div {
    width: 60px;
    height: 60px;
    background-color: white;
}
.pseudoClass-flex div:nth-child(n+1):nth-child(odd):nth-child(-n+8):hover,
.pseudoClass-flex div:nth-child(n+9):nth-child(even):nth-child(-n+16):hover,
.pseudoClass-flex div:nth-child(n+17):nth-child(odd):nth-child(-n+24):hover,
.pseudoClass-flex div:nth-child(n+25):nth-child(even):nth-child(-n+32):hover,
.pseudoClass-flex div:nth-child(n+33):nth-child(odd):nth-child(-n+40):hover,
.pseudoClass-flex div:nth-child(n+41):nth-child(even):nth-child(-n+48):hover,
.pseudoClass-flex div:nth-child(n+49):nth-child(odd):nth-child(-n+56):hover,
.pseudoClass-flex div:nth-child(n+57):nth-child(even):nth-child(-n+64):hover {
    background-color: red;
}
.pseudoClass-flex div:hover {
    background-color: blue;
}

.pseudoClass-grid {
    width: 480px;
    height: 480px;
    border-style: solid;
    border-width: 2px;
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
}

.pseudoClass-grid div {
    background-color: white;
}

.pseudoClass-grid.buahCatur div {
    background-color: white;
}

.pseudoClass-grid div:nth-child(n+1):nth-child(odd):nth-child(-n+8),
.pseudoClass-grid div:nth-child(n+9):nth-child(even):nth-child(-n+16),
.pseudoClass-grid div:nth-child(n+17):nth-child(odd):nth-child(-n+24),
.pseudoClass-grid div:nth-child(n+25):nth-child(even):nth-child(-n+32),
.pseudoClass-grid div:nth-child(n+33):nth-child(odd):nth-child(-n+40),
.pseudoClass-grid div:nth-child(n+41):nth-child(even):nth-child(-n+48),
.pseudoClass-grid div:nth-child(n+49):nth-child(odd):nth-child(-n+56),
.pseudoClass-grid div:nth-child(n+57):nth-child(even):nth-child(-n+64) {
    background-color: black;
}
.pseudoClass-grid.buahCatur div:nth-child(n+1):nth-child(odd):nth-child(-n+8),
.pseudoClass-grid.buahCatur div:nth-child(n+9):nth-child(even):nth-child(-n+16),
.pseudoClass-grid.buahCatur div:nth-child(n+17):nth-child(odd):nth-child(-n+24),
.pseudoClass-grid.buahCatur div:nth-child(n+25):nth-child(even):nth-child(-n+32),
.pseudoClass-grid.buahCatur div:nth-child(n+33):nth-child(odd):nth-child(-n+40),
.pseudoClass-grid.buahCatur div:nth-child(n+41):nth-child(even):nth-child(-n+48),
.pseudoClass-grid.buahCatur div:nth-child(n+49):nth-child(odd):nth-child(-n+56),
.pseudoClass-grid.buahCatur div:nth-child(n+57):nth-child(even):nth-child(-n+64) {
    background-color: grey;
}
.pseudoClass-grid div:nth-child(n+1):nth-child(odd):nth-child(-n+8):hover,
.pseudoClass-grid div:nth-child(n+9):nth-child(even):nth-child(-n+16):hover,
.pseudoClass-grid div:nth-child(n+17):nth-child(odd):nth-child(-n+24):hover,
.pseudoClass-grid div:nth-child(n+25):nth-child(even):nth-child(-n+32):hover,
.pseudoClass-grid div:nth-child(n+33):nth-child(odd):nth-child(-n+40):hover,
.pseudoClass-grid div:nth-child(n+41):nth-child(even):nth-child(-n+48):hover,
.pseudoClass-grid div:nth-child(n+49):nth-child(odd):nth-child(-n+56):hover,
.pseudoClass-grid div:nth-child(n+57):nth-child(even):nth-child(-n+64):hover {
    background-color: red;
}
.pseudoClass-grid div:hover {
    background-color: blue;
}


.buahCatur div {
    display: flex;
    justify-content: center;
    font-size: 44px;
}

/* buah catur warna hitam */
.buahCatur .benteng-hitam:before {
    content: '\265C';
}
.buahCatur .kuda-hitam::before {
    content: '\265E';
}
.buahCatur .gajah-hitam::before {
    content: '\265D';
}
.buahCatur .menteri-hitam::before {
    content: '\265B';
}
.buahCatur .raja-hitam::before {
    content: '\265A';
}
.buahCatur .pion-hitam::before {
    content: '\265F';
}


/* buah catur warna putih */

.buahCatur .pion-putih::before {
    content: '\2659';
}
.buahCatur .benteng-putih::before {
    content: '\2656';
}
.buahCatur .kuda-putih::before {
    content: '\2658';
}
.buahCatur .gajah-putih:before {
    content: '\2657';
}
.buahCatur .menteri-putih::before {
    content: '\2655';
}
.buahCatur .raja-putih::before {
    content: '\2654';
}